body {
  margin: 0;
  padding: 0;
}

@media (max-aspect-ratio: 1/1) {
  img {
    height: 100%;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

@media (min-aspect-ratio: 1/1) {
  img {
    width: 100%;
  }
}

.header {
  padding: 10px 16px;
  color: #e45757;
  position: fixed;
  top: 30%;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 400%;
  font-family: cursive;
  text-shadow: 0 0 5px white, 0 0 5px white;
}

